@charset "UTF-8";
.bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 5px 0;
    padding: 4px;
    width: 17rem; }
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
	background-color: #8A6BCD;
}
.bootstrap-datetimepicker-widget table td.today:before{
	border-bottom-color: #F3DD58;
}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover{
	 color: #ddd;
}
.bootstrap-datetimepicker-widget table th.picker-switch{
	color:#6547A6;
}
.inline-flex {
	display: inline-flex;
}
.datapik{
	border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 10px;
}
.datapik:read-only{
	border: none;
	background-color:transparent;
}
.table th, .table td{
	padding: 0.5rem;
}
#holiday > tbody > tr> td:nth-child(7){
	padding: 0px;
}
.btncol{
	margin: 4px;
}
.spanno{
	display: none;
}
