@charset "UTF-8";

.btnadd{
	background-color: transparent;
	padding: 2px 5px;
    margin-top: 20px;
}
.btnadd small {
	font-size: 12px;
}
.noticea, .doc{
	color : black;
	cursor: pointer;
}
#cont{
	border-radius: 2px;
	border: 1px solid #6d7fcc;	
	padding: 10px;
	margin-top: 10px;
}
.margin{
	margin: 0px 10px 20px;
}
.tale2 tr,.tale2 td{
	border-bottom: 1px solid #6d7fcc;
}
.act{
	display: inline-block !important;
}
.calendar-header-day, .calendar-day,.calendar-body td{
	border-bottom: transparent;
}
.btnDisabled {
	
}
.btnAbled {
	
}
.profile{
	cursor: pointer;
}