@charset "UTF-8";

.page-link{
	background-color: transparent ;
	border-color: transparent !important;
	
}
.page-item.active .page-link{
	background-color: #6d7fcc;
	border-color: transparent !important;
}

.page-item.disabled .page-link{
	background-color: transparent ;
	border-color: transparent  !important;
}
ul.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.btncol{
	background-color: #9569CC;
    color: #F8EBFF;
}
    
table.table th{
	border-top: 2px solid olive;
	border-bottom: 2px solid olive;
}
table td{
	border-bottom: 1px solid olive;
}