div.header {
	width: 85%;
	margin: 0 auto;
	padding: 50px 0 10px 20px;
}

div.search{
	display: inline;
	float: left;
}

div.datepicker{
	display: inline;
	float: right;
}

.clear{
	clear: both;
}

.form-control {
	width:auto;
	display: inline;
}

div.panel {
	width: 80%;
	margin: 0 auto;
}


div.container {
	width: 100%;
}

table th, td {
	text-align: center;
}

div.status {
	border-radius: 20px;
	color: white;
}