div.header {
	width: 97%;
	margin: auto;
/* 	margin: 50px auto; */
/* 	padding: 50px 0 10px 20px; */
	
}

div.search{
	display: inline;
	float: left;
}

div.datepicker{
	display: inline;
	float: right;
}

div.datepicker input {
	margin-right: 30px;
}
.table th, .table td {
    padding: 0.5rem;
    vertical-align: baseline;
}
.table{
	width: 97%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin: auto;
}


.form-control {
	width:auto;
	display: inline;
}

div.panel {
    margin: 10px 0;
}


div.container {
	width: 100%;
}

table th, td {
	text-align: center;
}

div.status {
	border-radius: 100px;
	color: white;
}
.search-btn{
	width: 100px;
}
